body {
    font-family:helvetica,arial,sans-serif;
    color:#000;
    padding-top: 1em;
    padding-bottom: 2em;
}

h1, h2 {
    -moz-border-radius:1em 1em 1em 1em;
    -moz-box-shadow:5px 5px 10px #888888;
    background:none repeat scroll 0 0 #80B5FF;
    border:0.2em solid #63A4FF;
    font-weight:bold;
    padding:0 1em;
    position:relative;
}

h1 { border-radius:1em 1em 1em 1em; }

h2 {
    background:none 0 0 #c0e472;
    border:0.2em solid #8bc313;
    font-weight:bold;
    margin:30px 0 0 0;
}

h3 {
    background: #f5ef7b;
    border-color: #f2c100; }

code {
    color:#111;
    font-weight:bold;
    padding:0.5em;
    font-family:monospace; }

p { text-align: justify }